doctype html
html(lang="en")
head
  meta(charset="utf-8")
  meta(name="viewport",content="width=device-width, initial-scale=1")
  //- title test
  base(href="/")
  link(href="/css/app.css",rel="stylesheet")
  script(src="node_modules/es6-shim/es6-shim.min.js")
  script(src="node_modules/zone.js/dist/zone.js")
  script(src="node_modules/reflect-metadata/Reflect.js")
  script(src="node_modules/systemjs/dist/system.src.js")
  script(src="systemjs.config.js")
  <!-- 2. Configure SystemJS -->
  script(src="/js/systemjs.config.js")
  script.
    System.import('app').catch(function(err){ console.error(err); });
body
  my-app
    div.container
      block content

script(src="/js/ios-orientationchange-fix.js")
script(src="node_modules/angular2/bundles/angular2-polyfills.js")
script(src="node_modules/systemjs/dist/system.src.js")
script(src="node_modules/rxjs/bundles/Rx.js")
script(src="node_modules/angular2/bundles/angular2.dev.js")
script(src="node_modules/angular2/bundles/router.dev.js")
